services:
  app:
    build: .
    depends_on:
      - db
    environment:
      DB_URL: jdbc:postgresql://db:5432/${DB_NAME}
      DB_USERNAME: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8080:8080"

  db:
    image: postgres:15
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5438:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  liquibase:
    image: liquibase/liquibase:4.27.0
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./src/main/resources/db:/liquibase/db
    environment:
      LIQUIBASE_COMMAND_URL: jdbc:postgresql://db:5432/${DB_NAME}
      LIQUIBASE_COMMAND_USERNAME: ${DB_USER}
      LIQUIBASE_COMMAND_PASSWORD: ${DB_PASSWORD}
      LIQUIBASE_COMMAND_CHANGELOG_FILE: db/changelog/db.changelog-master.yml
    command: update

volumes:
  postgres_data:
